.btn {
    padding-bottom: 5px;
    width: 239px;
    height: 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    background: $orange_color;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    letter-spacing: -1px;
    &_totop {
        width: 91px;
        height: 30px;
        background: none;
        border: 1px solid #FFFFFF;
        font-weight: normal;
        font-size: 12px;
        line-height: 28px;
    }
}