.policy {
    
    padding-bottom: 40px;
    h2 {
        margin-top: 50px;
        color: $blue_color;
    }
    h3 {
        margin-top: 20px;
        color: $blue_color;
    }
    p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 19px;
        color: $grey_color;
    }
}