.vehicles {
    padding-top: 40px;
    &__message {
        margin-top: 30px;
        font-size: 14px;
        line-height: 19px;
        color: $grey_color;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        position: relative;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:before {
            content: '';
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-color: $orange_color;
            z-index: -1;
            top: -9%;
            left: 12%;
        }
    }
    &__img {
        width: 115px;
        z-index: 1;
        img {
            width: 100%;
        }
        
    }
    &__title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 25px;
        line-height: 41px;
        color: $grey_color;
    }
    &__desc {
        margin-top: 10px;
        width: 200px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: $grey_color; 
    }
}